@import'theme';

.searchbox{
    display: flex;
    width: 300PX;
    height: 48px;
    transition: 0.5s;
    position: relative;
    &:hover{
        background-color: $secondary-color;
    }
    i{
        position: absolute;
        top: 158px;
        // left: 1394px;
        // left: 1618px;
        left: 1700px;
    }
    input{
        height: 50%;
        margin: auto;
        width: 80%;
        margin-left: 10%;
        // text-indent: 25px;
        &:focus {
            outline: none;
            }
    }
    .search-icon{
        position: absolute;
        left: 85%;
        top: 25%;
    }
}